WCFServicio/Metodos_Cliente/Connected Services/Service_Metodos/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29716/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29716/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29716/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ElvarNumeroAlCuadrado_InputMessage">
    <wsdl:part name="parameters" element="tns:ElvarNumeroAlCuadrado" />
  </wsdl:message>
  <wsdl:message name="IService1_ElvarNumeroAlCuadrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ElvarNumeroAlCuadradoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RestaDeDosNumeros_InputMessage">
    <wsdl:part name="parameters" element="tns:RestaDeDosNumeros" />
  </wsdl:message>
  <wsdl:message name="IService1_RestaDeDosNumeros_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestaDeDosNumerosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Conversion_InputMessage">
    <wsdl:part name="parameters" element="tns:Conversion" />
  </wsdl:message>
  <wsdl:message name="IService1_Conversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConversionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Obtenercalificacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtenercalificacion" />
  </wsdl:message>
  <wsdl:message name="IService1_Obtenercalificacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenercalificacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ElvarNumeroAlCuadrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ElvarNumeroAlCuadrado" message="tns:IService1_ElvarNumeroAlCuadrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ElvarNumeroAlCuadradoResponse" message="tns:IService1_ElvarNumeroAlCuadrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestaDeDosNumeros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RestaDeDosNumeros" message="tns:IService1_RestaDeDosNumeros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RestaDeDosNumerosResponse" message="tns:IService1_RestaDeDosNumeros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Conversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Conversion" message="tns:IService1_Conversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConversionResponse" message="tns:IService1_Conversion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtenercalificacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Obtenercalificacion" message="tns:IService1_Obtenercalificacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenercalificacionResponse" message="tns:IService1_Obtenercalificacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ElvarNumeroAlCuadrado">
      <soap:operation soapAction="http://tempuri.org/IService1/ElvarNumeroAlCuadrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestaDeDosNumeros">
      <soap:operation soapAction="http://tempuri.org/IService1/RestaDeDosNumeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Conversion">
      <soap:operation soapAction="http://tempuri.org/IService1/Conversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtenercalificacion">
      <soap:operation soapAction="http://tempuri.org/IService1/Obtenercalificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:29716/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>