WCFServicio/Metodos_Cliente/Connected Services/Service_Metodos/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29716/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicio" />
  <xs:element name="ElvarNumeroAlCuadrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElvarNumeroAlCuadradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ElvarNumeroAlCuadradoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestaDeDosNumeros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero1" type="xs:int" />
        <xs:element minOccurs="0" name="Numero2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestaDeDosNumerosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestaDeDosNumerosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Conversion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero1" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConversionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConversionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtenercalificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="letra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenercalificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicio" minOccurs="0" name="ObtenercalificacionResult" nillable="true" type="q1:Calificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>