WCFServicio/conversion/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Calificacion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:resultado">
        <xs:sequence>
          <xs:element minOccurs="0" name="Carrera" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numerode_control" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Calificacion" nillable="true" type="tns:Calificacion" />
  <xs:complexType name="resultado">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="resultado" nillable="true" type="tns:resultado" />
</xs:schema>